<!DOCTYPE html>
<html>
<head>
    @if (ViewBag.pagename != "adminpanel")
    {
        @Html.Partial("~/Views/Shared/head.cshtml")
    }
</head>
<body>
    @if (ViewBag.pagename != "adminpanel")
    {
        @Html.Partial("~/Views/Shared/header.cshtml")
    }

    @if (ViewBag.pagename == "adminpanel")
    {
        @Html.Partial("~/Views/Shared/admin_header.cshtml");
        @Html.Partial("~/Views/Shared/admin_side_menu.cshtml");
    }

    @RenderBody()
    @if (ViewBag.pagename != "adminpanel")
    {
        @Html.Partial("~/Views/Shared/footer.cshtml")
    }

</body>
</html>
